# YAML https://www.jianshu.com/p/97222440cd08

server:
  port: 8888
  context-path: /
 
---

logging:
  config: classpath:logback.xml
  level:
    com.yqh.boot.dao: debug

---

spring:
  thymeleaf:
    suffix: .html
    cache: false
    mode: LEGACYHTML5

---

spring:
  datasource:
    dsp:
      jdbc-url: jdbc:mysql://localhost:3306/dsp?useUnicode=true&characterEncoding=utf8&serverTimezone=GMT
      username: root
      password: 123456
      driver-class-name: com.mysql.cj.jdbc.Driver
    site:
      jdbc-url: jdbc:mysql://localhost:3306/site?useUnicode=true&characterEncoding=utf8&serverTimezone=GMT
      username: root
      password: 123456
      driver-class-name: com.mysql.cj.jdbc.Driver
      
  redis:
    database: 7
    host: 127.0.0.1
    port: 6379
    password: 123456
    timeout: 1500
